appnope==0.1.0
decorator==4.0.6
gnureadline==6.3.3
ipython==4.0.3
ipython-genutils==0.1.0
numpy==1.10.4
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5
pyserial==3.0.1
-e git+https://github.com/jsheedy/python-osc.git@ac978ceb82ae1e6613311af8a5d48e340907749c#egg=python_osc
rtmidi-python==0.2.2
simplegeneric==0.8.1
traitlets==4.1.0
websockets==3.0
