astroid==1.1.1
asyncio==3.4.3
gnureadline==6.3.3
ipython==3.0.0
logilab-common==0.61.0
numpy==1.10.1
pylint==1.2.1
pyserial==2.7
python-osc==1.4.1
python-rtmidi==0.4.3b1
requests==2.3.0
rtmidi-python==0.2.2
six==1.6.1
socketIO-client==0.5.3
websocket-client-py3==0.14.0
websockets==2.4
