$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:black;
  color: white;
}

.neopixel {
  width: 800px;
  height: 800px;
}
